@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500;900&family=PT+Sans:wght@400;700&family=Ubuntu:wght@300;500&display=swap');

:root {
    --ff-montserat: 'Montserrat', sans-serif;
    --ff-inter: 'Inter', sans-serif;
    --ff-pt: 'PT Sans', sans-serif;
    --ff-ubuntu: 'Ubuntu', sans-serif;

    --color-primary: #FFFFFF;
    --color-secondary: #1F2130;
    --color-green: #4A914E;

    --bg-main: #F5F5F5;
    --bg-drkblue: #001D3B;
    --bg-footer: #213641;
    --bg-green: #4A914E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

button {
    border: none;
    outline: none;
    background: transparent;
    font-family: inherit;
    cursor: pointer;
}

body {
    font-family: var(--ff-montserat);
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    color: var(--color-primary);
    overflow-x: hidden;
    background-position: top center;
    background-image: url(../img/background.png);

 
    &.hidden {
        overflow-y: hidden;
    }
}

.container {
    max-width: 900px;
    margin: 0 auto;

    @media (max-width:900px) {
        margin: 0 25px 0 25px;
    }
}

.arrow-btn-up {
    width: 45px;
    height: 45px;
    background:url(../img/up\ button.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    border-radius: 15px;
    border: 5px solid transparent;
    z-index: -1;
    bottom: 45px;
    right: 10px;
    opacity: 0;
    transition: 0.3s ease;

    &.btn-visible {
        opacity: 1;
        z-index: 1;
    }

}